<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<% if  current_user.admin? %>
  <%= form_tag(:action => "merge_form", :id => "merge_form", :enctype => "multipart/form-data") do %>
  
    <%= hidden_field_tag 'article_id', @article.id %>
    <div class=''>
  	  <h4><%= _("Merge Articles") %></h4>
  	  <%= number_field_tag 'merge_with' %>
  	  <%= submit_tag 'Merge' %>
    </div>
  <% end %>

<% end %>
